{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   {% block extra-styles %}{% endblock %}

    <title>{% block title %}Innovative-HealthCare{% endblock %}</title>
</head>
<body>
    <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
       <a href="{% url 'products' %}">Products</a>
        <a href="{% url 'appointment' %}">Appointment</a>
        <a href="{% url 'emergency' %}">Emergency</a>
        <a href="{% url 'about' %}">About</a>

    </div>

    {% block content %}{% endblock %}
</body>
</html>
